*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.container{
  display:flex;
  padding:20px;
  gap:5px;
  flex-wrap:wrap;
}
.book{
  padding:10px;
  gap:5px;
  border:2px solid black;

}
.book img{
  height:300px;
}
.book h1{
  font: size 1.5rem;;
  color:blue;
}
.book button {
  width: 100%;
  padding: 10px;
  background-color: #ffd814;
  border: 1px solid #fcd200;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
}

.book button:hover {
  background-color: #f7ca00;
}